RewriteEngine On
RewriteBase /src/

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$                                                     index.php                   [L]

RewriteRule ^about/?$                                              about.php                [L]

RewriteRule ^blog/?$                                               blog.php                   [L]
RewriteRule ^blog/([0-9])/?$                                       blog.php?id=$1             [L]

ErrorDocument 404                                                   404.php